<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
<form method="post" class="forms-sample" action="{% url 'productdata' %}" enctype="multipart/form-data">
    {% csrf_token %}
              <div class="card">
                <div class="card-body">
                    <div class="form-group">
                  <label for="exampleSelectGender">Select Category</label>
                  <select class="form-control" id="exampleSelectGender" name="select">
                      <option>Select Category</option>
                      {% for i in cat %}
                      <option>{{i.CatName}}</option>
                      {% endfor %}
                  </select>
              </div>
                    <div class="form-group">
                      <label for="exampleInputName1">Product Name</label>
                      <input type="text" class="form-control" id="exampleInputName1" placeholder="Name" name="pname">
                    </div>
                     <div class="form-group">
                      <label for="exampleTextarea1">Description</label>
                      <textarea class="form-control" id="exampleTextarea1" rows="4" name="description"></textarea>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail3">Price</label>
                      <input type="text" class="form-control" id="exampleInputEmail3" placeholder="Price" name="price">
                    </div>
                    <div class="form-group">
                      <label>Image Upload</label>
                      <input type="file" name="image" class="file-upload-default">
                      <div class="input-group col-xs-12">
                        <input type="file" placeholder="Upload Image" name="image">
                      </div>
                    </div>
    <button type="submit" class="btn btn-primary mr-2">Submit</button>
</form>
</body>
</html>
{% endblock %}
<div class="col-1   2 grid-margin stretch-card">
              <div class="form-group">
                  <label for="exampleSelectGender">Select Category</label>
                  <select class="form-control" id="exampleSelectGender" name="select">
                      <option>Select Category</option>
                      {% for i in cat %}
                      <option>{{i.CatName}}</option>
                      {% endfor %}
                  </select>
              </div>
              <div class="card">
                <div class="card-body">
                  <form class="forms-sample">
                    <div class="form-group">
                      <label for="exampleInputName1">Product Name</label>
                      <input type="text" class="form-control" id="exampleInputName1" placeholder="Name" name="pname">
                    </div>
                     <div class="form-group">
                      <label for="exampleTextarea1">Description</label>
                      <textarea class="form-control" id="exampleTextarea1" rows="4" name="description"></textarea>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail3">Price</label>
                      <input type="text" class="form-control" id="exampleInputEmail3" placeholder="Email" name="price">
                    </div>
                    <div class="form-group">
                      <label>Image Upload</label>
                      <input type="file" name="image" class="file-upload-default">
                      <div class="input-group col-xs-12">
                        <input type="text" class="form-control file-upload-info" disabled="" placeholder="Upload Image">
                        <span class="input-group-append">
                          <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                        </span>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputCity1">City</label>
                      <input type="text" class="form-control" id="exampleInputCity1" placeholder="Location">
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button class="btn btn-light">Cancel</button>
                  </form>
                </div>
              </div>
            </div>